In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
985,tt1637725,50000000,549368315,Ted,Mark Wahlberg|Mila Kunis|Seth MacFarlane|Joel ...,Seth MacFarlane,Ted is coming.,"John Bennett, a man whose childhood wish of br...",106,Comedy|Fantasy,Universal Pictures|Media Rights Capital|Fuzzy ...,6/29/2012,6.4,2012
848,tt1464174,32000000,83615414,"Big Mommas: Like Father, Like Son",Portia Doubleday|Martin Lawrence|Brandon T. Ja...,John Whitesell,Momma's got back-up.,FBI agent Malcolm Turner and his 17-year-old s...,107,Crime|Comedy|Action,Twentieth Century Fox Film Corporation|Regency...,2/16/2011,5.4,2011
1650,tt0377062,45000000,21009180,Flight of the Phoenix,Dennis Quaid|Tyrese Gibson|Giovanni Ribisi|Mir...,John Moore,"Out of the ashes, hope will rise.",When an Amacor oil rig in the Gobi Desert of M...,113,Action|Adventure|Drama|Thriller,Twentieth Century Fox Film Corporation|Davis E...,12/17/2004,5.4,2004

In [5]:
data.describe()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [689]:
#answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [665]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [3]:
# тут пишем ваш код для решения данного вопроса:
data[data['budget'] == data['budget'].max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [11]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [671]:
data[data['runtime'] == data['runtime'].max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [672]:
data[data['runtime'] == data['runtime'].min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

In [14]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [674]:
round(data['runtime'].mean())

110

In [17]:
answers['4'] = '4. 110'

# 5. Каково медианное значение длительности фильмов?

In [18]:
data['runtime'].median()

107.0

In [19]:
answers['5'] = '5. 107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [675]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data['profit'] == data['profit'].max()].original_title

239    Avatar
Name: original_title, dtype: object

In [28]:
answers['6'] = '6. Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [676]:
data[data['profit'] == data['profit'].min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

In [31]:
answers['7'] = '7. The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [34]:
data[data['profit'] > 0].imdb_id.count()

1478

In [35]:
answers['8'] = '8. 1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [677]:
data9 = data[data['release_year'] == 2008]
data9[data9['revenue'] == data9['revenue'].max()].original_title

599    The Dark Knight
Name: original_title, dtype: object

In [143]:
answers['9'] = '9. The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [678]:
data10 = data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)]
data10[data10['profit'] == data10['profit'].min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

In [144]:
answers['10'] = '10. The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [142]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
genres = data['genres']
genres_new = list()
genres_new2 = list()
for i in genres:
    genres_new.append(str(i).split("|"))
for i in genres_new:
    for j in i:
        genres_new2.append(j)
pd.DataFrame(genres_new2).value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

In [145]:
answers['11'] = '11. Drama'

ВАРИАНТ 2

In [683]:
data11 = data.copy()
data11['genres'] = data.genres.apply(lambda x: x.split('|'))
data11.explode('genres').genres.value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [684]:
data[data['profit']>0].explode('genres').genres.value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

In [185]:
answers['12'] = '12. Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [690]:
sum_revenue = data.pivot_table(values = ['revenue'], 
                 index = 'director',
                 aggfunc = 'sum')
sum_revenue.sort_values(by = 'revenue', ascending=False)

                      revenue
director
Peter Jackson      6490593685
Christopher Nolan  4167548502
David Yates        4154295625
Michael Bay        3886938960
J.J. Abrams        3579169916
...                       ...
David MichÃ´d         2295423
Steven Shainberg      2281089
Paul Schrader         2062066
Keanu Reeves          2054941
Simon Hunter          2033165

[957 rows x 1 columns]

In [186]:
answers['13'] = '13. Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [686]:
data14 = data.explode('genres')

In [691]:
data14[data14['genres'] == 'Action'].director.value_counts()

Paul W.S. Anderson    7
Michael Bay           7
Antoine Fuqua         6
Robert Rodriguez      6
Ridley Scott          6
                     ..
DJ Pooh               1
Rob Minkoff           1
Rian Johnson          1
Bruce Hunt            1
Wolfgang Petersen     1
Name: director, Length: 345, dtype: int64

In [221]:
answers['14'] = '14. Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [692]:
data15 = data.copy()
data15['cast'] = data15['cast'].apply(lambda x:  str(x).split('|'))
data15 = data15.explode('cast')
data15 = data15[data15['release_year'] == 2012]
data15.pivot_table(values = ['revenue'],
                  index = 'cast',
                  aggfunc = 'sum').sort_values(by = 'revenue', ascending=False)

                      revenue
cast
Chris Hemsworth    2027450773
Denis Leary        1629460639
Anne Hathaway      1522851057
Robert Downey Jr.  1519557910
Mark Ruffalo       1519557910
...                       ...
Michael Nyqvist       3428048
Danny Huston          2106557
Josh Lucas            2106557
Sami Gayle            2106557
Nicolas Cage          2106557

[466 rows x 1 columns]

In [346]:
answers['15'] = '15. Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [693]:
data16 = data.copy()
data16['cast'] = data16['cast'].apply(lambda x:  str(x).split('|'))
data16[data16['budget'] > data16['budget'].mean()].explode('cast').cast.value_counts()

Matt Damon            18
Adam Sandler          17
Angelina Jolie        16
Eddie Murphy          15
Tom Cruise            15
                      ..
Rachael Leigh Cook     1
Lois Smith             1
Andrew McCarthy        1
Estella Warren         1
Sarita Choudhury       1
Name: cast, Length: 1505, dtype: int64

In [388]:
answers['16'] = '16. Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [389]:
answers['17'] = '17. Action'

In [387]:
data17 = pd.read_csv('movie_bd_v5.csv')
data17['genres'] = data17['genres'].apply(lambda x: x.split('|'))
data17 = data17.explode('genres')

data17['cast'] = data17['cast'].apply(lambda x:  str(x).split('|'))
data17 = data17.explode('cast')
data17[data17['cast'] == 'Nicolas Cage'].genres.value_counts().head(1)

Action    17
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [696]:
data18 = data.copy()
data18['production_companies'] = data18['production_companies'].apply(lambda x: x.split('|'))
data18 = data18.explode('production_companies')
data18 = data18[data18['production_companies'] == 'Paramount Pictures']
data18[data18['profit'] == data18['profit'].min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

In [414]:
answers['18'] = '18. K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [697]:
data19 = data.copy()
data19.pivot_table(values = 'revenue',
                  index = 'release_year',
                  aggfunc = 'sum'
                  ).sort_values(by = 'revenue', ascending=False)

                  revenue
release_year
2015          25449202382
2014          23405862953
2013          23213799791
2012          23079001687
2011          22676791872
2010          21071204961
2009          20261791024
2008          18252781990
2007          18162406801
2004          15663430720
2005          15309425558
2006          14775042320
2003          14346123312
2002          14136361487
2001          13017764865
2000          10664099805

In [421]:
answers['19'] = '19. 2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [698]:
data20 = data.copy()
data20['production_companies'] = data20['production_companies'].apply(lambda x: x.split('|'))
data20 = data20.explode('production_companies')

data20 = data20[data20.production_companies.str.contains("Warner Bros", na=False)]
data20.pivot_table(values = 'profit',
                  index = 'release_year',
                  aggfunc = 'sum').sort_values(by = 'profit', ascending = False)

                  profit
release_year
2014          2292949646
2007          2201675217
2008          2134595031
2010          1974712985
2011          1871393682
2003          1844008221
2009          1822454136
2013          1636453400
2004          1631933725
2005          1551980298
2001          1282142579
2012          1258020056
2002          1022709901
2015           870368348
2006           625351872
2000           452631386

In [456]:
answers['20'] = '20. 2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [537]:
answers['21'] = '21. Сентябрь'

In [702]:
data21 = pd.read_csv('movie_bd_v5.csv')
data21['month'] = data21['release_date'].apply(lambda x: x.split("/")).str.get(0)
data21.month.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [564]:
answers['22'] = '22. 450'

In [700]:
data22 = data.copy()
data22['month'] = data22['release_date'].apply(lambda x: x.split("/")).str.get(0).astype(int)
data22[(data22['month']>5) & (data22['month']<9)].value_counts('month').sum()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [703]:
data22 = data.copy()
data22['month'] = data22['release_date'].apply(lambda x: x.split("/")).str.get(0).astype(int)
data22[(data22['month']>11) | (data22['month']<3)].value_counts('director')
#data22

director
Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Adam Shankman        4
Martin Scorsese      4
                    ..
GÃ¡bor CsupÃ³        1
Guy Ritchie          1
Guy Ferland          1
Gus Van Sant         1
Will Gluck           1
Length: 332, dtype: int64

In [572]:
answers['23'] = '23. Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [704]:
data24 = data.copy()
data24['title_length'] = data24['original_title'].apply(lambda x: len(x))
data24['production_companies'] = data24['production_companies'].apply(lambda x: x.split("|"))
data24 = data24.explode('production_companies')

data24.pivot_table(values = 'title_length',
                  index = 'production_companies',
                  aggfunc = 'mean').sort_values(by = "title_length", ascending = False)

                            title_length
production_companies
Four By Two Productions             83.0
Jim Henson Company, The             59.0
Dos Corazones                       47.0
Polsky Films                        46.0
Museum Canada Productions           46.0
...                                  ...
Everest Entertainment                3.0
Berlanti Productions                 3.0
Global Entertainment Group           2.0
XM2 Productions                      2.0
Ixtlan Productions                   2.0

[1771 rows x 1 columns]

In [599]:
answers['24'] = '24. Warner Bros'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [705]:
data25 = data.copy()
data25['overview_length'] = data25['overview'].apply(lambda x: x.split(' '))
data25['overview_length'] = data25['overview_length'].apply(lambda x: len(x))
data25['production_companies'] = data25['production_companies'].apply(lambda x: x.split("|"))
data25 = data25.explode('production_companies')

data25.pivot_table(values = 'overview_length',
                  index = 'production_companies',
                  aggfunc = 'mean').sort_values(by='overview_length', ascending = False)

                                       overview_length
production_companies
Midnight Picture Show                            175.0
Heineken Branded Entertainment                   161.0
Room 9 Entertainment                             161.0
98 MPH Productions                               159.0
Brookwell-McNamara Entertainment                 156.0
...                                                ...
Henceforth                                        13.0
Our Stories Films                                 13.0
London Boulevard                                  13.0
Motion Picture Corporation of America             11.0
Empire Pictures                                   11.0

[1771 rows x 1 columns]

In [612]:
answers['25'] = '25. Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [623]:
data26 = pd.read_csv('movie_bd_v5.csv')
data26.sort_values(by = 'vote_average', ascending = False).head(int(len(data26.vote_average)/100))

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014
1188,tt1798709,23000000,47351251,Her,Joaquin Phoenix|Scarlett Johansson|Rooney Mara...,Spike Jonze,A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,Romance|Science Fiction|Drama,Annapurna Pictures,12/18/2013,7.8,2013
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,11/6/2015,7.8,2015
124,tt2245084,165000000,652105443,Big Hero 6,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...,Don Hall|Chris Williams,From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,Adventure|Family|Animation|Action|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,10/24/2014,7.8,2014
177,tt2582846,12000000,305151265,The Fault in Our Stars,Shailene Woodley|Ansel Elgort|Nat Wolff|Laura ...,Josh Boone,One Sick Love Story,Despite the tumor-shrinking medical miracle th...,125,Romance|Drama,Fox 2000 Pictures|Temple Hill Entertainment|TS...,5/16/2014,7.8,2014

In [709]:
data_26 = data.copy
data26.quantile(.01, 'columns')

0       11.200
1       11.616
2       10.808
3       12.640
4       12.488
         ...
1884    10.496
1885     9.944
1886     7.360
1887     8.752
1888     9.192
Name: 0.01, Length: 1889, dtype: float64

In [624]:
answers['26'] = '26. Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [660]:
import itertools 
from itertools import combinations
data27 = pd.read_csv('movie_bd_v5.csv')
data27['cast'] = data27['cast'].apply(lambda x: x.split('|'))
data27['comb'] = data27['cast'].apply(lambda x: list(combinations(x,2)))
data27.explode('comb').comb.value_counts()

(Daniel Radcliffe, Rupert Grint)       8
(Daniel Radcliffe, Emma Watson)        8
(Rupert Grint, Emma Watson)            7
(Johnny Depp, Helena Bonham Carter)    6
(Ben Stiller, Owen Wilson)             6
                                      ..
(Sean Bean, Zachary Knighton)          1
(Andy Samberg, Jeff Daniels)           1
(Dax Shepard, Andrew Hampton)          1
(Mickey Rourke, Ajay Naidu)            1
(Ken Kirzinger, Lochlyn Munro)         1
Name: comb, Length: 18121, dtype: int64

In [661]:
answers['27'] = '27. Daniel Radcliffe & Rupert Grint '

ВАРИАНТ 2

# Submission

In [711]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '4. 110',
 '5': '5. 107',
 '6': '6. Avatar (tt0499549)',
 '7': '7. The Lone Ranger (tt1210819)',
 '8': '8. 1478',
 '9': '9. The Dark Knight (tt0468569)',
 '10': '10. The Lone Ranger (tt1210819)',
 '11': '11. Drama',
 '12': '12. Drama',
 '13': '13. Peter Jackson',
 '14': '14. Robert Rodriguez',
 '15': '15. Chris Hemsworth',
 '16': '16. Matt Damon',
 '17': '17. Action',
 '18': '18. K-19: The Widowmaker (tt0267626)',
 '19': '19. 2015',
 '20': '20. 2014',
 '21': '21. Сентябрь',
 '22': '22. 450',
 '23': '23. Peter Jackson',
 '24': '24. Warner Bros',
 '25': '25. Midnight Picture Show',
 '26': '26. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '27. Daniel Radcliffe & Rupert Grint '}

In [710]:
# и убедиться что ни чего не пропустил)
len(answers)

27